@using Inshapardaz.Identity.Quickstart.Consent
@model ConsentViewModel
@{
    ViewData["Title"] = "Permission Request";
    Layout = "~/Views/Shared/_layoutHome.cshtml";
}

<form asp-action="Index" class="consent-form">
    <input type="hidden" asp-for="ReturnUrl" />

    <div class="col-xs-12">
        @if (Model.ClientLogoUrl != null)
        {
            <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
        }


    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <label>@Model.ClientName is requesting your permission.</label>
        </div>
        <div class="col-xs-12">
            <label>Uncheck the permissions you do not wish to grant.</label>
        </div>
    </div>
    <div class="form-group">

    <div class="col-xs-12">
        @if (Model.IdentityScopes.Any())
        {
            <div class="panel panel-default consent-buttons">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span>
                    Personal Information
                </div>
                <ul class="list-group">
                    @foreach (var scope in Model.IdentityScopes)
                    {
                        @Html.Partial("_ScopeListItem", scope)
                    }
                </ul>
            </div>
        }

        @if (Model.ResourceScopes.Any())
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Application Access
                </div>
                <ul class="list-group">
                    @foreach (var scope in Model.ResourceScopes)
                    {
                        @Html.Partial("_ScopeListItem", scope)
                    }
                </ul>
            </div>
        }
    </div>
    </div>
        @if (Model.AllowRememberConsent)
        {
    <div class="form-group">
        <div class="col-xs-12">
            <label class="css-input switch switch-sm switch-primary">
                <input asp-for="RememberConsent" type="checkbox"><span></span> Remember My Decision
            </label>
        </div>
        <div class="col-xs-12">
            <label class="css-input switch switch-sm switch-info">
                <a href="@Model.ClientUrl">@Model.ClientName</a>
            </label>
        </div>
    </div>
        }

        <div class="form-group push-30-t">
            <div class="col-xs-5 col-sm-5 col-md-5 ">
                <button name="button" value="yes" class="btn btn-sm btn-block btn-primary" autofocus>Yes, Allow</button>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 ">
                <button name="button" class="btn btn-sm btn-block btn-warning" value="no">No</button>
            </div>
        </div>

        <div class="text-center push-20-t">
            @Html.Partial("_ValidationSummary")
        </div>

</form>